<main>
    <section class="container">
        <section class="section-menu">
            <!-- menu -->
            <app-logo></app-logo>
            <section class="section-menu-opciones">
                <div class="opcion-menu" *ngFor="let opcion of menu; let i = index;">
                    <a [routerLink]="opcion.ruta">
                        <i *ngIf="!!opcion.icono" class="bi {{opcion.icono}}"></i>
                        <i *ngIf="!opcion.icono" class="bi bi-activity"></i>
                        <p> {{ opcion.titulo }} </p>
                    </a>
                </div>
            </section>
        </section>
        <section class="section-content">
            <router-outlet></router-outlet>
            <footer>
                <div class="opcion-menu" *ngFor="let opcion of footer; let i = index;">
                    <a [href]="opcion.ruta" target="_blank">
                        <p> {{ opcion.titulo }} </p>
                    </a>
                </div>
            </footer>
        </section>
    </section>
</main>