<div class="chat-container">
    <div class="chat-header">Mensajes Directos</div>
    <div class="chat-messages">
        <div class="message">
            <div class="sender">Ivan Gomez</div>
            <br>
            <div class="content">Hola, ¿cómo estás? Me preguntaba si te gustaría salir a dar un paseo por el parque este fin de semana. El clima está bastante agradable y sería genial pasar tiempo juntos. ¿Qué opinas?</div>
            <br>
            <div class="timestamp">Hace 2 minutos</div>
        </div>
        <div class="message">
            <div class="sender">Jose Luis</div><br>
            <div class="content">¡Hola! Estoy bien, gracias. ¿Y tú? Esa suena como una excelente idea. Me encantaría salir a disfrutar del buen clima contigo. Podemos planificar los detalles más tarde.</div>
            <br>
            <div class="timestamp">Hace 7 minutos</div>
        </div>
    </div>
    <div class="input-container">
        <input type="text" placeholder="Escribe un mensaje...">
        <button>Enviar</button>
    </div>
</div>