<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram Search</title>
    
</head>
<body>

<h1>Bienvenido a mi Instagram</h1>

<form action="/buscar" method="get">
    <label for="query">Buscar:</label>
    <input type="text" id="query" name="q" placeholder="Ingresa el nombre de usuario o hashtag" required>
    <button type="submit">Buscar</button>
</form>

<div class="search-results">
    <div class="result-item">
        <h2>Resultado de la Busqueda 1</h2>
        <p> Usuario Encontrado</p>
        <a href="#">Ver perfil</a>
    </div>

    <div class="result-item">
        <h2>Resultado de la Busqueda 2</h2>
        <p> Usuario Encontrado</p>
        <a href="#">Ver perfil</a>
    </div>

</div>
</body>
</html>
